/* Style pour le titre */
  
.title {
    text-align: center;
    color: #333;
    font-family: Arial, sans-serif;
  }
  
  /* Style pour l'image */
  .main-image {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
  }
  